<aside class="dateToday">
    <p id="currentDate"></p>
    <br>
    <p> <span class="colorPoint">•</span> Session en cours :
        <span id="asideUsername">-</span>
        (<span id="asideUserEmail">-</span>)
    </p>
</aside>