<header>
        <nav class="navBar">
            <div class="navRight">
                <a href="/views/dashboard.ejs">Dashboard</a>
                <a href="/views/catways.ejs">Catways</a>
                <a href="/views/reservations.ejs">Réservations</a>
                <a href="/views/users.ejs">Utilisateurs</a>
            </div>
            <div class="navLeft">
                <a href="/views/documentation.ejs">Documentation</a>
                <button class="logout">Se déconnecter</button>
            </div>
        </nav>
    </header>
    