
        <nav class="navBar">
            <div class="navRight">
                <a href="/dashboard">Dashboard</a>
                <a href="/catways">Catways</a>
                <a href="/reservations">Réservations</a>
                <a href="/users-page">Utilisateurs</a>
            </div>
            <div>
                <h1>Port de Plaisance - Russell</h1>
            </div>
            <div class="navLeft">
                <a href="http://localhost:3000/api-docs/">Documentation</a>
                <button class="logout" id="logoutBtn">Se déconnecter</button>
            </div>
        </nav>
    
    