<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include("composants/head") %>
</head>

<body>
    <header>
        <%- include("composants/navbar") %>
    </header>
<main>
    <div class="Presentation">
        <p>Bienvenue sur l'API pour le Port de Plaisance Russell</p>
        <p>Cette application permet de gérer les réservations et les utilisateurs de vos Catways </p>
        <br>
        <p>Pour en savoir plus, veuillez consulter notre <a href="http://localhost:3000/api-docs/" target="_blank">documentation.</a></p>
    </div>


    <div class="connectPage">
        <div id="alert-container"></div>

        <form id="loginForm">
            <legend>Merci de vous connecter</legend>

            <label for="email">E-mail :</label>
            <input type="email" name="email" id="email" placeholder="Votre mail" required autocomplete="username">

            <label for="password">Mot de passe :</label>
            <input type="password" name="password" id="password" placeholder="Mot de passe" required autocomplete="current-password">
            <button type="submit">Se connecter</button>
        </form>
    </div>
</main> 

<script src="/javascripts/login.js"></script>
</body>

</html>