<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Test 2 - EJS simple OK !</h1>
    <p>Titre: <%= title %>
    </p>
</body>

</html>