.catwaySection {
    padding-left: 50px;
}

.catwaySection button:hover {
    cursor: pointer;
}
.catwaysTableBody {
    text-align: center;
}

input {
    width: 100%;
}

select {
    width: 100%;
}

textarea {
    width: 100%;
}