* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 20px;
}

#activeReservationsCount {
    color: rgb(41, 233, 41);
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    border: 1px solid white;
    border-radius: 5px;
    backdrop-filter: blur(50px);
    margin: 10px;
    padding: 10px;
}

.table {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
}





