* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-image: url(../images/page-plaisance-8-1600x900.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  color: rgb(247, 246, 246);
  text-align: center;
  text-transform: uppercase;
}

.Presentation {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 30px;
}

.Presentation a {
  text-decoration: underline;
  color: white;
}

.Presentation a:hover {
  color: brown;
}
.connectPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border: 2px solid white;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 30px;
  width: 30%;
}

legend {
  color: white;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

label {
  color: white
}

button {
  height: 30px;
}

input {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

button {
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(251, 252, 253);
}

button:hover {
  background-color: aquamarine;
}

@media screen and (max-width:700px) {
  form {
    width: auto;
  }
}