* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/public/images/page-plaisance-8-1600x900.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background:fixed
    
}